.App {
  text-align: center;
}

.Homepage {
  display: flex;
  flex-direction: row;
  height: 100vh
}

.Homepage-background {
  display: flex;
  flex: 2;
  background-image: url("https://images.unsplash.com/photo-1512034264389-39825486c40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=981&q=80");
  background-size: cover;
  background-attachment: inherit;
  background-position: bottom;

}

.Stock-Down {
  color: rgb(255, 0, 0)
}

.Stock-Up {
  color: rgb(0, 255, 0)
}

.Navbar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Dashboard {
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto
}

h4{
  margin: 10px 0px 10px 0px
}

.StockView {
  margin-top: 15px;
  padding: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: white;
  transition-duration: .3s
}

.StockView:hover {
  background-color: rgb(196, 196, 196);
  transform: scale(1.02);
  transition-duration: .3s
}

.Close-Button {
   
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 12px 16px;
    transform: translate(5%, -50%);

    flex-basis: 10px;

}

.Transaction {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 10px 0px 10px 0px */
}

.Portfolo-Stock-Card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.Portfolio-Stock-Equal{
  display: flex;
  background-color: rgb(183, 176, 176);

}

.Portfolio-Stock-Up{
  display: flex;
  background-color: aquamarine;
}

.Portfolio-Stock-Down{
  display: flex;
  background-color: rgb(255, 127, 127);

}
.Stock-Info-Container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.StockSearch {
  display: flex;
  flex-direction: column;
  margin: 30px;
  flex:1;



}

.Stock-Search-Container {
  /* border: 3px rgb(41, 41, 41) solid; */
  border-radius: 15px;
  height: fit-content;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09)
  
}

.SearchInput{
  width: 400px;
  height: 50px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  border: none;
  margin: 5px

}

input:focus{
  outline: none
}

.SearchBar {
  align-items: center;
}

.Transactions-Container {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: left;
  margin: 30px;
  overflow: auto;
  height: 600px;
  min-width: 200px;


}

.Portfolio-Container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 30px;
  overflow: auto;
  height: 600px;
  flex:1;
  min-width: 200px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
